form{
    color:black;
}
.help-inline{
    color: #b94a48;
}
#menu_toggle i {
    color: rgb(208,174,76);
}

a:hover{
    color:white;
}
#icones i{
    color:black;    
}

#content-header {
    position: abslute;
    width: 100%;
    margin-top: 0px;
    z-index: 20;
}

#breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #e3ebed;
}

#breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-image: url('../img/breadcrumb.png');
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666666;
}

#breadcrumb a:hover {
    color: #333333;
}

#breadcrumb a:last-child {
    background-image: none;
}

#breadcrumb a.current {
    font-weight: bold;
    color: #444444;
}

#breadcrumb a i {
    margin-right: 5px;
    opacity: .6;
}

#breadcrumb a:hover i {
    margin-right: 5px;
    opacity: .8;
}

#corpo{
    margin-top:2%;
}

#btnAdd{
    margin-bottom:2%;
}

#icon{
    font-size:15pt;
    color:black;
}